<?xml version="1.0" encoding="utf-8"?>
<!--
  ~  Created by Mr. Lalit Nandakumar Hajare
  ~  This code demonstrates the coding capabilities of Mr. Lalit Nandakumar Hajare.
  ~  The sole purpose of this application is to help recruiters showcase the skills that I,
  ~   Mr. Lalit Nandakumar Hajare, posses.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.supersonic.app">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:name=".common.MyApplication"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar">
        <service
                android:name=".common.MusicService"
                android:enabled="true"
                android:exported="true"></service>

        <activity android:name=".common.BaseActivity"/>
        <activity android:name=".tracks.screens.trackdetails.TrackDetailsActivity"/>
        <activity android:name=".tracks.screens.tracklist.TracksListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>